* {
	box-sizing: border-box;
}
header, nav, footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
p, a, button {
	display: flex;
	align-items: center;
	text-decoration-line: none;
	color: inherit;
}
button {
	border: none;
	background-color: transparent;
}




header {
	background-color: #023270;
	height: 41px;	
}
.headerInner {
	width: 1200px;

	display: flex;
	justify-content: space-between;
	color: #f5f5f5;
}
.headerInner > .slogan {
	font-size: 14px;
	letter-spacing: -0.03em;
}
.headerInner > .logo {
	font-size: 24px;
	letter-spacing: 0.18em;
}
.headerInner > .function {
	width: 150px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 14px;
}
.headerInner > .function > img {
	width: 17px;
	height: 17px;
}





nav {
	background-color: #d40007;
	height: 70px;
	box-shadow: inset 0px 4px 4px 0px #00000025;
}
.navInner {
	width: 1200px;

	display: flex;
	justify-content: center;
	gap: 68px;
	
	color: #dddddd;
	letter-spacing: -0.11em;
}





main {
	min-height: calc(100vh - 41px - 70px - 80px);
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainFrame {
	width: 1012px;
	margin: 100px 0px 20px 0px;
}
.mainTitle {
	height: 77px;
	font-size: 26px;
	font-weight: bold;
}
.mainIntro {
	height: 44px;
	display: flex;
	margin-bottom: 6px;
}
.mainIntro img {
	width: 45px;
	height: 44px;
}
.mainIntro p {
	display: flex;
	justify-content: center;
	font-size: 14px;
	letter-spacing: -0.04em;
	color: #454545;
}
.mainIntro > .introName { width: 83px; }
.mainIntro > .introDate { width: 99px;}
.mainIntro > .introHits { width: 94px;}
.mainIntro > .introCoNum { width: 58px;}
.mainIntro > .introRCMD { width: 64px;}

.mainFunction {
	height: 63px;
	border-bottom: 1px solid #ececec;

	display: flex;
	justify-content: flex-end;
	gap: 6px;
}
.mainFunction button {
	height: 43px;
	background-color: #ececec;
	font-size: 16px;
	color: #454545;
	letter-spacing: 0.07em;

	display: flex;
	justify-content: center;
}
.mainFunction button:hover {
	background-color: #454545;
	color: #ececec;
	box-shadow: inset 0px 4px 4px 0px #00000025;
}
.mainFunction > .funcScrap { width: 67px; }
.mainFunction > .funcEdit { width: 60px; }
.mainFunction > .funcDelete { width: 60px; }

.mainWriting {
	font-size: 16px;
	line-height: 150%;
	text-align: justify;
	
	display: flex;
	flex-direction: column;
	gap: 45px;

	padding: 55px 0px 55px 0px;
	border-bottom: 1px solid #ececec;
}

.commentFrame {
	width: 1012px;	
}
.coNum {
	font-size: 16px;
	font-weight: bold;
	color: #505050;
	margin-bottom: 20px;
}
.coBox {
	height: 132px;
	padding: 20px 0px;
	border-bottom: 1px solid #ececec;
}
.coBox2 {
	height: 132px;
	padding: 20px 0px 20px 55px;
	border-bottom: 1px solid #ececec;
}
.coLine1 {
	display: flex;
}
.coProfileBox {
	width: 46px;
	height: 46px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.coProfileBox > img {
	width: 33px;
	height: 33px;
}
.coInfoBox {
	width: 966px;
	height: 46px;
	padding-right: 5px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.coName {
	font-size: 13px;
	color: #252525;
}
.coDate {
	font-size: 12px;
	color: #bbbbbb;
}
.coLine2 {
	width: 1012px;
	height: 46px;
	padding-right: 10px;
	display: flex;
	align-items: center;

	font-size: 16px;
}
.commentArea {
	margin-top: 55px;
	width: 1012px;
	min-height: 139px;
	border: 1px solid #c8c8c8;
	resize: none;
	outline: none;

	font-size: 16px;
}
.commentButton {
	width: 1012px;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.commentButton > .button {
	width: 85px;
	height: 43px;
	background-color: #ececec;

	font-size: 16px;
	letter-spacing: 0.07em;
	color: #454545;

	display: flex;
	justify-content: center;
}
.commentButton > .button:hover {
	background-color: #454545;
	color: #cecece;
	box-shadow: inset 0px 4px 4px 0px #00000025;
}


.boardFrame {
	width: 1012px;
	margin-top: 77px;
	border-top: 1px solid #ececec;
}

.no { width: 83px; }
.titleT { width: 511px; }
.writerT { width: 159px; }
.hits { width: 82px; }
.rcmd { width: 82px; }
.date { width: 95px; }
.tab { width: 56px; }
.title { width: 455px; }
.profile { width: 37px; }
.writer { width: 120px; }
.boardContainer img {
	width: 27px;
	height: 27px;
}

.lineTitle, .lineNotice, .lineMain1, .lineMain2 {
	height: 55px;
	display: flex;
}
.no, .titleT, .hits, .rcmd, .rcmd, .date, .profile {
	display: flex;
	justify-content: center;
}
.tab {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.writerT {
	padding-left: 30px;
}
.title {
	padding-left: 8px;
}
.boardContainer p {
	letter-spacing: -0.03em;
	font-size: 14px;
}

.boardContainer > .lineTitle { 
	background-color: #454545;
	color: #cecece;
}
.boardContainer > .lineNotice {
	background-color: #fff9f9;
	border-bottom: 1px solid #ffe8e8;
	font-weight: bold;
}
.boardContainer > .lineMain1 {
	background-color: #fcfcfc;
	border-bottom: 1px solid #ececec;
}
.boardContainer > .lineMain2 {
	border-bottom: 1px solid #ececec;
}

.lineHighlight {
	position: relative;
}
.lineHighlight:hover::before, .selectLine::before {
	content: "";
	width: 4px;
	display: block;
	height: inherit;
	background-color: #3d7cdb;
	position: absolute;
	left: 0px;
}

.smallNotice {
	width: 47px;
	height: 26px;
	border-radius: 20px;
	border: 2px solid #e80107;

	color: #e80107;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.03em;

	display: flex;
	justify-content: center;
	align-items: center;
}
.smallTalk {
	width: 47px;
	height: 26px;
	border-radius: 20px;
	border: 2px solid #7f7f7f;

	color: #7f7f7f;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.03em;

	display: flex;
	justify-content: center;
	align-items: center;
}
.smallNews {
	width: 47px;
	height: 26px;
	border-radius: 20px;
	border: 2px solid #ae9334;

	color: #ae9334;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.03em;

	display: flex;
	justify-content: center;
	align-items: center;
}

.functionContainer {
	width: 1012px;
	height: 134px;
	margin-bottom: 131px;
	padding-top: 20px;
}
.functionContainer * {
	font-size: 16px;
	color: #454545;
}
.pagesBox:hover, .search:hover, .write:hover {
	background-color: #454545;
	color: #cecece;
	box-shadow: inset 0px 4px 4px 0px #00000025;
}
.pagesBox {
	width: 42px;
	height: 49px;
	background-color: #ececec;

	display: flex;
	justify-content: center;
	align-items: center;
}
.selectBox {
	width: 42px;
	height: 49px;
	background-color: #454545;
	color: #cecece !important;
	box-shadow: inset 0px 4px 4px 0px #00000025;

	display: flex;
	justify-content: center;
	align-items: center;
}
.functionButton {
	display: flex;
	justify-content: flex-end;
	gap: 6px;
}
.search {
	background-color: #ececec;
	width: 60px;
	height: 43px;
	justify-content: center;
}
.write {
	border: none;
	background-color: #ececec;
	width: 67px;
	height: 43px;
	justify-content: center;
}
.pageNav {
	width: 1012px;
	display: flex;
	justify-content: center;
	gap: 18px;
	margin-top: 22px;
}
.pages {
	display: flex;
	gap: 8px;
}





footer {
	background-color: #9c824a;
	height: 80px;

	color: #eeeeee;
	font-size: 13px;
	letter-spacing: -0.04em;
	box-shadow: inset 0px 4px 4px 0px #00000025;
}